src/wsdl/desktop-341sj7p_8080/choixsujetws/EtudiantService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.com/" name="EtudiantService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.com/" schemaLocation="http://desktop-341sj7p:8080/choixsujetws/EtudiantService?xsd=1"/>
</xsd:schema>
</types>
<message name="getDate">
<part name="parameters" element="tns:getDate"/>
</message>
<message name="getDateResponse">
<part name="parameters" element="tns:getDateResponse"/>
</message>
<message name="getIdEtudiantByIdSujet">
<part name="parameters" element="tns:getIdEtudiantByIdSujet"/>
</message>
<message name="getIdEtudiantByIdSujetResponse">
<part name="parameters" element="tns:getIdEtudiantByIdSujetResponse"/>
</message>
<message name="updateSujetEtudiantNull">
<part name="parameters" element="tns:updateSujetEtudiantNull"/>
</message>
<message name="updateSujetEtudiantNullResponse">
<part name="parameters" element="tns:updateSujetEtudiantNullResponse"/>
</message>
<message name="getIdEtudiantFromIdSujet">
<part name="parameters" element="tns:getIdEtudiantFromIdSujet"/>
</message>
<message name="getIdEtudiantFromIdSujetResponse">
<part name="parameters" element="tns:getIdEtudiantFromIdSujetResponse"/>
</message>
<message name="getIdEtudiantFromCompte">
<part name="parameters" element="tns:getIdEtudiantFromCompte"/>
</message>
<message name="getIdEtudiantFromCompteResponse">
<part name="parameters" element="tns:getIdEtudiantFromCompteResponse"/>
</message>
<message name="updateSujetEtudiant">
<part name="parameters" element="tns:updateSujetEtudiant"/>
</message>
<message name="updateSujetEtudiantResponse">
<part name="parameters" element="tns:updateSujetEtudiantResponse"/>
</message>
<message name="getNom">
<part name="parameters" element="tns:getNom"/>
</message>
<message name="getNomResponse">
<part name="parameters" element="tns:getNomResponse"/>
</message>
<message name="getPrenom">
<part name="parameters" element="tns:getPrenom"/>
</message>
<message name="getPrenomResponse">
<part name="parameters" element="tns:getPrenomResponse"/>
</message>
<message name="getIdSjt">
<part name="parameters" element="tns:getIdSjt"/>
</message>
<message name="getIdSjtResponse">
<part name="parameters" element="tns:getIdSjtResponse"/>
</message>
<message name="getIdSujet">
<part name="parameters" element="tns:getIdSujet"/>
</message>
<message name="getIdSujetResponse">
<part name="parameters" element="tns:getIdSujetResponse"/>
</message>
<message name="avoirSujet">
<part name="parameters" element="tns:avoirSujet"/>
</message>
<message name="avoirSujetResponse">
<part name="parameters" element="tns:avoirSujetResponse"/>
</message>
<message name="getIdCompte">
<part name="parameters" element="tns:getIdCompte"/>
</message>
<message name="getIdCompteResponse">
<part name="parameters" element="tns:getIdCompteResponse"/>
</message>
<message name="getNumero">
<part name="parameters" element="tns:getNumero"/>
</message>
<message name="getNumeroResponse">
<part name="parameters" element="tns:getNumeroResponse"/>
</message>
<message name="getLieu">
<part name="parameters" element="tns:getLieu"/>
</message>
<message name="getLieuResponse">
<part name="parameters" element="tns:getLieuResponse"/>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"/>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"/>
</message>
<message name="getMC">
<part name="parameters" element="tns:getMC"/>
</message>
<message name="getMCResponse">
<part name="parameters" element="tns:getMCResponse"/>
</message>
<message name="getMUF">
<part name="parameters" element="tns:getMUF"/>
</message>
<message name="getMUFResponse">
<part name="parameters" element="tns:getMUFResponse"/>
</message>
<message name="updateEtudiant">
<part name="parameters" element="tns:updateEtudiant"/>
</message>
<message name="updateEtudiantResponse">
<part name="parameters" element="tns:updateEtudiantResponse"/>
</message>
<message name="compareMoy">
<part name="parameters" element="tns:compareMoy"/>
</message>
<message name="compareMoyResponse">
<part name="parameters" element="tns:compareMoyResponse"/>
</message>
<portType name="Etudiant">
<operation name="getDate">
<input wsam:Action="http://webservices.com/Etudiant/getDateRequest" message="tns:getDate"/>
<output wsam:Action="http://webservices.com/Etudiant/getDateResponse" message="tns:getDateResponse"/>
</operation>
<operation name="getIdEtudiantByIdSujet">
<input wsam:Action="http://webservices.com/Etudiant/getIdEtudiantByIdSujetRequest" message="tns:getIdEtudiantByIdSujet"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdEtudiantByIdSujetResponse" message="tns:getIdEtudiantByIdSujetResponse"/>
</operation>
<operation name="updateSujetEtudiantNull">
<input wsam:Action="http://webservices.com/Etudiant/updateSujetEtudiantNullRequest" message="tns:updateSujetEtudiantNull"/>
<output wsam:Action="http://webservices.com/Etudiant/updateSujetEtudiantNullResponse" message="tns:updateSujetEtudiantNullResponse"/>
</operation>
<operation name="getIdEtudiantFromIdSujet">
<input wsam:Action="http://webservices.com/Etudiant/getIdEtudiantFromIdSujetRequest" message="tns:getIdEtudiantFromIdSujet"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdEtudiantFromIdSujetResponse" message="tns:getIdEtudiantFromIdSujetResponse"/>
</operation>
<operation name="getIdEtudiantFromCompte">
<input wsam:Action="http://webservices.com/Etudiant/getIdEtudiantFromCompteRequest" message="tns:getIdEtudiantFromCompte"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdEtudiantFromCompteResponse" message="tns:getIdEtudiantFromCompteResponse"/>
</operation>
<operation name="updateSujetEtudiant">
<input wsam:Action="http://webservices.com/Etudiant/updateSujetEtudiantRequest" message="tns:updateSujetEtudiant"/>
<output wsam:Action="http://webservices.com/Etudiant/updateSujetEtudiantResponse" message="tns:updateSujetEtudiantResponse"/>
</operation>
<operation name="getNom">
<input wsam:Action="http://webservices.com/Etudiant/getNomRequest" message="tns:getNom"/>
<output wsam:Action="http://webservices.com/Etudiant/getNomResponse" message="tns:getNomResponse"/>
</operation>
<operation name="getPrenom">
<input wsam:Action="http://webservices.com/Etudiant/getPrenomRequest" message="tns:getPrenom"/>
<output wsam:Action="http://webservices.com/Etudiant/getPrenomResponse" message="tns:getPrenomResponse"/>
</operation>
<operation name="getIdSjt">
<input wsam:Action="http://webservices.com/Etudiant/getIdSjtRequest" message="tns:getIdSjt"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdSjtResponse" message="tns:getIdSjtResponse"/>
</operation>
<operation name="getIdSujet">
<input wsam:Action="http://webservices.com/Etudiant/getIdSujetRequest" message="tns:getIdSujet"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdSujetResponse" message="tns:getIdSujetResponse"/>
</operation>
<operation name="avoirSujet">
<input wsam:Action="http://webservices.com/Etudiant/avoirSujetRequest" message="tns:avoirSujet"/>
<output wsam:Action="http://webservices.com/Etudiant/avoirSujetResponse" message="tns:avoirSujetResponse"/>
</operation>
<operation name="getIdCompte">
<input wsam:Action="http://webservices.com/Etudiant/getIdCompteRequest" message="tns:getIdCompte"/>
<output wsam:Action="http://webservices.com/Etudiant/getIdCompteResponse" message="tns:getIdCompteResponse"/>
</operation>
<operation name="getNumero">
<input wsam:Action="http://webservices.com/Etudiant/getNumeroRequest" message="tns:getNumero"/>
<output wsam:Action="http://webservices.com/Etudiant/getNumeroResponse" message="tns:getNumeroResponse"/>
</operation>
<operation name="getLieu">
<input wsam:Action="http://webservices.com/Etudiant/getLieuRequest" message="tns:getLieu"/>
<output wsam:Action="http://webservices.com/Etudiant/getLieuResponse" message="tns:getLieuResponse"/>
</operation>
<operation name="getEmail">
<input wsam:Action="http://webservices.com/Etudiant/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://webservices.com/Etudiant/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getMC">
<input wsam:Action="http://webservices.com/Etudiant/getMCRequest" message="tns:getMC"/>
<output wsam:Action="http://webservices.com/Etudiant/getMCResponse" message="tns:getMCResponse"/>
</operation>
<operation name="getMUF">
<input wsam:Action="http://webservices.com/Etudiant/getMUFRequest" message="tns:getMUF"/>
<output wsam:Action="http://webservices.com/Etudiant/getMUFResponse" message="tns:getMUFResponse"/>
</operation>
<operation name="updateEtudiant">
<input wsam:Action="http://webservices.com/Etudiant/updateEtudiantRequest" message="tns:updateEtudiant"/>
<output wsam:Action="http://webservices.com/Etudiant/updateEtudiantResponse" message="tns:updateEtudiantResponse"/>
</operation>
<operation name="compareMoy">
<input wsam:Action="http://webservices.com/Etudiant/compareMoyRequest" message="tns:compareMoy"/>
<output wsam:Action="http://webservices.com/Etudiant/compareMoyResponse" message="tns:compareMoyResponse"/>
</operation>
</portType>
<binding name="EtudiantPortBinding" type="tns:Etudiant">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdEtudiantByIdSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSujetEtudiantNull">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdEtudiantFromIdSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdEtudiantFromCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateSujetEtudiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPrenom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdSjt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="avoirSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNumero">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLieu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMUF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEtudiant">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compareMoy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EtudiantService">
<port name="EtudiantPort" binding="tns:EtudiantPortBinding">
<soap:address location="http://desktop-341sj7p:8080/choixsujetws/EtudiantService"/>
</port>
</service>
</definitions>