src/wsdl/desktop-341sj7p_8080/choixsujetws/EtudiantService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://webservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.com/">

<xs:element name="avoirSujet" type="tns:avoirSujet"/>

<xs:element name="avoirSujetResponse" type="tns:avoirSujetResponse"/>

<xs:element name="compareMoy" type="tns:compareMoy"/>

<xs:element name="compareMoyResponse" type="tns:compareMoyResponse"/>

<xs:element name="getDate" type="tns:getDate"/>

<xs:element name="getDateResponse" type="tns:getDateResponse"/>

<xs:element name="getEmail" type="tns:getEmail"/>

<xs:element name="getEmailResponse" type="tns:getEmailResponse"/>

<xs:element name="getIdCompte" type="tns:getIdCompte"/>

<xs:element name="getIdCompteResponse" type="tns:getIdCompteResponse"/>

<xs:element name="getIdEtudiantByIdSujet" type="tns:getIdEtudiantByIdSujet"/>

<xs:element name="getIdEtudiantByIdSujetResponse" type="tns:getIdEtudiantByIdSujetResponse"/>

<xs:element name="getIdEtudiantFromCompte" type="tns:getIdEtudiantFromCompte"/>

<xs:element name="getIdEtudiantFromCompteResponse" type="tns:getIdEtudiantFromCompteResponse"/>

<xs:element name="getIdEtudiantFromIdSujet" type="tns:getIdEtudiantFromIdSujet"/>

<xs:element name="getIdEtudiantFromIdSujetResponse" type="tns:getIdEtudiantFromIdSujetResponse"/>

<xs:element name="getIdSjt" type="tns:getIdSjt"/>

<xs:element name="getIdSjtResponse" type="tns:getIdSjtResponse"/>

<xs:element name="getIdSujet" type="tns:getIdSujet"/>

<xs:element name="getIdSujetResponse" type="tns:getIdSujetResponse"/>

<xs:element name="getLieu" type="tns:getLieu"/>

<xs:element name="getLieuResponse" type="tns:getLieuResponse"/>

<xs:element name="getMC" type="tns:getMC"/>

<xs:element name="getMCResponse" type="tns:getMCResponse"/>

<xs:element name="getMUF" type="tns:getMUF"/>

<xs:element name="getMUFResponse" type="tns:getMUFResponse"/>

<xs:element name="getNom" type="tns:getNom"/>

<xs:element name="getNomResponse" type="tns:getNomResponse"/>

<xs:element name="getNumero" type="tns:getNumero"/>

<xs:element name="getNumeroResponse" type="tns:getNumeroResponse"/>

<xs:element name="getPrenom" type="tns:getPrenom"/>

<xs:element name="getPrenomResponse" type="tns:getPrenomResponse"/>

<xs:element name="updateEtudiant" type="tns:updateEtudiant"/>

<xs:element name="updateEtudiantResponse" type="tns:updateEtudiantResponse"/>

<xs:element name="updateSujetEtudiant" type="tns:updateSujetEtudiant"/>

<xs:element name="updateSujetEtudiantNull" type="tns:updateSujetEtudiantNull"/>

<xs:element name="updateSujetEtudiantNullResponse" type="tns:updateSujetEtudiantNullResponse"/>

<xs:element name="updateSujetEtudiantResponse" type="tns:updateSujetEtudiantResponse"/>

<xs:complexType name="getPrenom">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPrenomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avoirSujet">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="avoirSujetResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMC">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMCResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantFromIdSujet">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantFromIdSujetResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNom">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNomResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSujetEtudiant">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSujetEtudiantResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIdSjt">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdSjtResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdCompte">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdCompteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDate">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compareMoy">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
<xs:element name="arg1" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compareMoyResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEtudiant">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
<xs:element name="arg7" type="xs:string" minOccurs="0"/>
<xs:element name="arg8" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateEtudiantResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMUF">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMUFResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLieu">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLieuResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantByIdSujet">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantByIdSujetResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumero">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNumeroResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantFromCompte">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdEtudiantFromCompteResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdSujet">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIdSujetResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSujetEtudiantNull">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSujetEtudiantNullResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>