src/wsdl/desktop-341sj7p_8080/choixsujetws/SujetService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.com/" name="SujetService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.com/" schemaLocation="http://desktop-341sj7p:8080/choixsujetws/SujetService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateSujet">
<part name="parameters" element="tns:updateSujet"/>
</message>
<message name="updateSujetResponse">
<part name="parameters" element="tns:updateSujetResponse"/>
</message>
<message name="getIdEns">
<part name="parameters" element="tns:getIdEns"/>
</message>
<message name="getIdEnsResponse">
<part name="parameters" element="tns:getIdEnsResponse"/>
</message>
<message name="getPris">
<part name="parameters" element="tns:getPris"/>
</message>
<message name="getPrisResponse">
<part name="parameters" element="tns:getPrisResponse"/>
</message>
<message name="addSujet">
<part name="parameters" element="tns:addSujet"/>
</message>
<message name="addSujetResponse">
<part name="parameters" element="tns:addSujetResponse"/>
</message>
<message name="checkDispo">
<part name="parameters" element="tns:checkDispo"/>
</message>
<message name="checkDispoResponse">
<part name="parameters" element="tns:checkDispoResponse"/>
</message>
<message name="getTitre">
<part name="parameters" element="tns:getTitre"/>
</message>
<message name="getTitreResponse">
<part name="parameters" element="tns:getTitreResponse"/>
</message>
<message name="getEnonce">
<part name="parameters" element="tns:getEnonce"/>
</message>
<message name="getEnonceResponse">
<part name="parameters" element="tns:getEnonceResponse"/>
</message>
<portType name="Sujet">
<operation name="updateSujet">
<input wsam:Action="http://webservices.com/Sujet/updateSujetRequest" message="tns:updateSujet"/>
<output wsam:Action="http://webservices.com/Sujet/updateSujetResponse" message="tns:updateSujetResponse"/>
</operation>
<operation name="getIdEns">
<input wsam:Action="http://webservices.com/Sujet/getIdEnsRequest" message="tns:getIdEns"/>
<output wsam:Action="http://webservices.com/Sujet/getIdEnsResponse" message="tns:getIdEnsResponse"/>
</operation>
<operation name="getPris">
<input wsam:Action="http://webservices.com/Sujet/getPrisRequest" message="tns:getPris"/>
<output wsam:Action="http://webservices.com/Sujet/getPrisResponse" message="tns:getPrisResponse"/>
</operation>
<operation name="addSujet">
<input wsam:Action="http://webservices.com/Sujet/addSujetRequest" message="tns:addSujet"/>
<output wsam:Action="http://webservices.com/Sujet/addSujetResponse" message="tns:addSujetResponse"/>
</operation>
<operation name="checkDispo">
<input wsam:Action="http://webservices.com/Sujet/checkDispoRequest" message="tns:checkDispo"/>
<output wsam:Action="http://webservices.com/Sujet/checkDispoResponse" message="tns:checkDispoResponse"/>
</operation>
<operation name="getTitre">
<input wsam:Action="http://webservices.com/Sujet/getTitreRequest" message="tns:getTitre"/>
<output wsam:Action="http://webservices.com/Sujet/getTitreResponse" message="tns:getTitreResponse"/>
</operation>
<operation name="getEnonce">
<input wsam:Action="http://webservices.com/Sujet/getEnonceRequest" message="tns:getEnonce"/>
<output wsam:Action="http://webservices.com/Sujet/getEnonceResponse" message="tns:getEnonceResponse"/>
</operation>
</portType>
<binding name="SujetPortBinding" type="tns:Sujet">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdEns">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPris">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSujet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkDispo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTitre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEnonce">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SujetService">
<port name="SujetPort" binding="tns:SujetPortBinding">
<soap:address location="http://desktop-341sj7p:8080/choixsujetws/SujetService"/>
</port>
</service>
</definitions>